{% extends 'base.html.twig' %}

{% block content %}
    <div id="intro" class="container">
        <h2>Zirk</h2>
        <p>
            Welcome on my amazing website, I'm a software developer currently working at <a href="https://bionomeex.com" target="_blank">BionomeeX</a><br/>
            As a hobbies, I like to either work on <a class="main-link" href="#project" data-category="global-tab" data-target="project">my own projects</a> (softwares, bots, websites...) or to participate at <a class="main-link" href="#gamejam" data-category="global-tab" data-target="gamejam">gamejams</a> (making a games in usually less than 72 hours)<br/>
            Outside of programming I also have <a class="main-link" href="#about" data-category="global-tab" data-target="about">various others hobbies</a> such as playing video games or reading books<br/>
        </p>
    </div>
    <div class="container">
        <div class="flex">
            <a class="see-more main-link not-link" href="#project" data-category="global-tab" data-target="project">
                Projects
            </a>
            <a class="see-more main-link not-link" href="#gamejam" data-category="global-tab" data-target="gamejam">
                Game Jams
            </a>
            <div class="flex-break"></div>
            <a class="see-more main-link not-link secondary" href="#about" data-category="global-tab" data-target="about">
                About Me
            </a>
            <div class="flex-break"></div>
            <a class="see-more main-link not-link secondary" href="#faq" data-category="global-tab" data-target="faq">
                FAQ
            </a>
        </div>
    </div>
    <div class="global-tab" id="gamejam" hidden>
        <h2>Game Jams</h2>
        <p class="explanation">
            Gamejams are event when you need to make a game under a certain time (usually 48 or 72 hours for the most common events) given a certain theme<br/>
            Jams here are all the ones I did (where we managed to submit something before the deadline)<br/>
            You probably want to open this page on desktop since these games usually aren't designed for mobile
        </p>
        <h3>Best Scores (≥24h)</h3>
        <div class="flex">
            {% for jam in jams | filter(x => x.duration >= 24) | sort((a, b) => a.score <=> b.score)[:3] %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
        <hr/>
        <div class="flex">
            {% for jam in jams %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="global-tab" id="project" hidden>
        <h2>Projects</h2>
        <p class="explanation">
            There are the list of the projects I'm currently working on<br/>
            If you scroll down a bit more you can get a more or less complete list of all the projects I worked on
        </p>
        <div class="flex">
            {% for project in projects | filter(x => x.highlight) %}
                {% include 'project.html.twig' %}
            {% endfor %}
        </div>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Languages</th>
                    <th>Click</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td  class="project-name">{{ project.name }}</td>
                        <td>{{ project.type }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.start }} - {{ project.end }}</td>
                        <td>{{ project.languages | join(" ") }}</td>
                        <td>{% if project.image is not null %}<button class="project-image-preview small button" data-name="{{ project.name }}" data-img="{{ project.image }}"><i class="fa-solid fa-computer-mouse"></i></button>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="project-normal-preview" hidden>
                <h2 id="project-normal-preview-title"></h2>
                <img id="project-normal-preview-image" src=""/>
            </div>
        </div>
    </div>
    <div class="global-tab" id="about" hidden>
        <h2>About</h2>
        <h3>Social</h3>
        <p>
            {% for social in about.social %}
            <a class="logo not-link" href="{{ social.link }}" target="_blank" rel="me" alt="{{ social.name }}">
                <img class="lazy" data-src="data/img/about/logo/{{ social.logo }}"/>
            </a>
            {% endfor %}
        </p>
        <h3>Music</h3>
        <iframe id="music-yt-player" class="yt-player" src="" frameborder="0" allow="" hidden></iframe>
        <div id="about-music">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Play</th>
                    </tr>
                </thead>
                <tbody>
                    {% for music in about.music %}
                    <tr>
                        <td><a href="{{ music.link }}" target="_blank">{{ music.name }}</a></td>
                        <td>
                            {% for youtube in music.youtube %}
                            <button class="youtube-show button small" data-id="{{ youtube.id }}" data-target="music">{{ youtube.name }}</button><br/>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Games</h3>
        <iframe id="game-yt-player" class="yt-player" src="" frameborder="0" allow="" hidden></iframe>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Trailer</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in about.games %}
                    <tr>
                        <td><a href="{{ game.store.link }}" target="_blank">{{ game.name }}</a></td>
                        <td>
                            {% if game.video is not null %}
                            <button class="youtube-show button small" data-id="{{ game.video }}" data-target="game"><i class="fa-solid fa-video"></i></button>
                            {% endif %}
                            {% if game.gameplay is not null %}
                            <button class="youtube-show button small" data-id="{{ game.gameplay }}" data-target="game"><i class="fa-solid fa-gamepad"></i></button>
                            {% endif %}
                        </td>
                        <td>
                            {% for link in game.links %}
                                {% if link.type == "link" or link.type == "image" %}
                                <a href="{{ link.content }}" target="_blank">{{ link.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Readable Stuffs</h3>
        <div>
            {% for novel in about.novels %}
            <a class="readable not-link" href="{{ novel.link }}" target="_blank" alt="{{ novel.name }}"><img class="lazy" data-src="data/img/about/readable/{{novel.image}}"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="global-tab" id="faq" hidden>
        {% include 'faq.html.twig' %}
    </div>
{% endblock %}