{% extends 'base.html.twig' %}

{% block content %}
    <div id="intro" class="container">
        <h2>Zirk</h2>
        <p>
            Welcome on my amazing website, I'm a software developer currently working at <a href="https://bionomeex.com" target="_blank">BionomeeX</a><br/>
            As a hobby, I like to either work on <a class="main-link" href="#project" data-category="global-tab" data-target="project">my own projects</a> (softwares, bots, websites...) or to participate at <a class="main-link" href="#gamejam" data-category="global-tab" data-target="gamejam">gamejams</a> (making a game in usually less than 72 hours)<br/>
            Outside of programming I also have <a class="main-link" href="#about" data-category="global-tab" data-target="about">various others hobbies</a> such as playing video games or reading books<br/>
        </p>
    </div>
    <div class="container">
        <div class="flex">
            <a class="see-more main-link not-link" href="#project" data-category="global-tab" data-target="project">
                Projects
            </a>
            <a class="see-more main-link not-link" href="#gamejam" data-category="global-tab" data-target="gamejam">
                Game Jams
            </a>
            <div class="flex-break"></div>
            <a class="see-more main-link not-link secondary" href="#about" data-category="global-tab" data-target="about">
                About Me
            </a>
            <div class="flex-break"></div>
            <a class="see-more main-link not-link secondary" href="#faq" data-category="global-tab" data-target="faq">
                FAQ
            </a>
        </div>
    </div>
    <div class="global-tab" id="gamejam" hidden>
        <h2>Game Jams</h2>
        <p class="explanation">
            Gamejams are event when you need to make a game as a team under a certain time (usually 48 or 72 hours for the most common events) given a certain theme<br/>
            Jams here are all the ones I did (where we managed to submit something before the deadline)<br/>
            You probably want to open this page on desktop since these games usually aren't designed for mobile
        </p>
        <div class="question">
            <a class="main-link not-link" href="#gamejam-more" data-category="jaminfo-tab" data-target="gamejam-more" data-dependency="gamejam"><h3>(+) More information</h3></a>
            <span class="jaminfo-tab" id="gamejam-more" hidden>
                Gamejams here contains the following information:
                <ul>
                    <li>Jam name: Name with which the jam goes by, it can sometimes reflect additional constraints</li>
                    <li>Theme: Sometimes there are not, sometimes there are many, the goal is to make a game that follow it</li>
                    <li>Duration: Time the jam goes for, for in-person events this time usually contains things such as conference, team creation, presentation in front of a jury... so it might not reflect the total amount of time spent on the game</li>
                    <li>Starting Date: Date at which the event started</li>
                    <li>Rank: If there is a voting phase at the end of the game, final score out of how many games were ranked, the total amount of game published may be higher than that</li>
                    <li>Tier: Based on the rank, calculated the following way: Overall rank / Number of entries rated * 100</li>
                </ul>
                <hr/>
                Filters:
                <ul>
                    <li>Location: City the jam was organized in if it was actually did in presential</li>
                    <li>Game Engine: Engine the jam was made with</li>
                    <li>Event: Name of the event itself</li>
                    <li>Language: Language available in-game</li>
                    <li>Participants: People that participated to the jam, this usually mean the base team referenced in the credits which may not count people that just came by in the middle of it to fix something or who weren't referrenced for some reason, for privacy reason these are censorred for now</li>
                    <li>Duration: Duration of the jam, explained above</li>
                    <li>Entries: Total number of entry for an event</li>
                    <li>Year at which the jam was done</li>
                </ul>
            </span>
        </div>
        <h3>Best Scores (≥24h)</h3>
        <div class="flex">
            {% for jam in jams.data | filter(x => x.duration >= 24) | sort((a, b) => a.score <=> b.score)[:3] %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
        <hr/>
        <h4>{{ jams.data | length }} total entries</h4>
        <div class="filter">
            Filter:
            <select id="filter-location">
                <option value="">Location</option>
                {% for key, value in jams.locations %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
                {% endfor %}
            </select>
            <select id="filter-engine">
                <option value="">Game Engine</option>
                {% for key, value in jams.engines %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
                {% endfor %}
            </select>
            <select id="filter-event">
                <option value="">Event</option>
                {% for key, value in jams.events %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
                {% endfor %}
            </select>
            <select id="filter-language">
                <option value="">Language</option>
                {% for key, value in jams.languages %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
                {% endfor %}
            </select>
            <select id="filter-people">
                <option value="">Participants</option>
                {% for key, value in jams.people %}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
                {% endfor %}
            </select>
            <select id="filter-duration">
                <option value="">Duration</option>
                <option value="0-1">≤1h</option>
                <option value="2-24">≤1 day</option>
                <option value="25-48">2 days</option>
                <option value="49-72">3 days</option>
                <option value="73-168">1 week</option>
                <option value="169-10000">&gt;1 week</option>
            </select>
            <select id="filter-entries">
                <option value="">Entries</option>
                <option value="-1">Unknown</option>
                <option value="1-10">≤10</option>
                <option value="11-100">≤100</option>
                <option value="101-1000">≤1000</option>
                <option value="1001-5000">≤5000</option>
                <option value="5001-100000">&gt;5000</option>
            </select>
            <select id="filter-year">
                <option value="">Year</option>
                {% for y in "2016-01-01"|date("Y").."now"|date("Y") %}
                <option value="{{y}}">{{y}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex full-list">
            {% for jam in jams.data %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="global-tab" id="project" hidden>
        <h2>Projects</h2>
        <p class="explanation">
            There are the list of the projects I'm currently working on<br/>
            If you scroll down a bit more you can get a more or less complete list of all of them
        </p>
        <div class="flex">
            {% for project in projects | filter(x => x.end == null) %}
                {% include 'project.html.twig' %}
            {% endfor %}
        </div>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Languages</th>
                    <th>Click</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td  class="project-name">{{ project.name }}</td>
                        <td>{{ project.type }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.start }} - {{ project.end }}</td>
                        <td>{{ project.languages | join(" ") }}</td>
                        <td>{% if project.image is not null %}<button class="project-image-preview small button" data-name="{{ project.name }}" data-img="{{ project.image }}"><i class="fa-solid fa-computer-mouse"></i></button>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="project-normal-preview" hidden>
                <h2 id="project-normal-preview-title"></h2>
                <img id="project-normal-preview-image" src=""/>
            </div>
        </div>
    </div>
    <div class="global-tab" id="about" hidden>
        {% include 'about.html.twig' %}
    </div>
    <div class="global-tab" id="faq" hidden>
        {% include 'faq.html.twig' %}
    </div>
{% endblock %}