{% extends 'base.html.twig' %}

{% block content %}
    <div id="intro" class="container">
        <h2>Zirk</h2>
        <p>
            Welcome on my amazing website, I'm a software developer currently working at <a href="https://bionomeex.com" target="_blank">BionomeeX</a><br/>
            As a hobbies, I like to either work on <a href="#project">my own projects</a> (softwares, bots, websites...) or to participate at <a href="#gamejam">gamejams</a> (making a games in usually less than 72 hours)<br/>
            Outside of programming I also have <a href="#about">various others hobbies</a> such as playing video games or reading books<br/>
        </p>
    </div>
    <div class="container">
        <div class="flex">
            <a class="see-more" href="#project" data-target="project">
                Projects
            </a>
            <a class="see-more" href="#gamejam" data-target="gamejam">
                Game Jams
            </a>
            <div class="flex-break"></div>
            <a class="see-more secondary" href="#about" data-target="about">
                About Me
            </a>
            <div class="flex-break"></div>
            <a class="see-more secondary" href="#faq" data-target="faq">
                FAQ
            </a>
        </div>
    </div>
    <div class="globalTab" id="gamejam" hidden>
        <h2>Game Jams</h2>
        <h3>Best Scores (≥24h)</h3>
        <div class="flex">
            {% for jam in jams | filter(x => x.duration >= 24) | sort((a, b) => a.score <=> b.score)[:3] %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
        <hr/>
        <div class="flex">
            {% for jam in jams %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="globalTab" id="project" hidden>
        <h2>Projects</h2>
        <div class="flex">
            {% for project in projects | filter(x => x.highlight) %}
                {% include 'project.html.twig' %}
            {% endfor %}
        </div>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Languages</th>
                    <th>Preview</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.type }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.start }} - {{ project.end }}</td>
                        <td>{{ project.languages | join(" ") }}</td>
                        <td class="project-image-preview" data-name="{{ project.name }}" data-img="{{ project.image }}">{% if project.image is not null %}<i class="fa-solid fa-computer-mouse"></i>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="project-normal-preview" hidden>
                <h2 id="project-normal-preview-title"></h2>
                <img id="project-normal-preview-image" src=""/>
            </div>
        </div>
    </div>
    <div class="globalTab" id="about" hidden>
        <h2>About</h2>
        <h3>Social</h3>
        <p>
            {% for social in about.social %}
            <a class="logo" href="{{ social.link }}" target="_blank" rel="me" alt="{{ social.name }}">
                <img src="data/img/logo/{{ social.logo }}"/>
            </a>
            {% endfor %}
        </p>
        <h3>Music</h3>
        <iframe id="about-yt-player" width="560" height="315" src="" frameborder="0" allow="" hidden></iframe>
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Play</th>
                    </tr>
                </thead>
                <tbody>
                    {% for music in about.music %}
                    <tr>
                        <td><a href="{{ music.link }}" target="_blank">{{ music.name }}</a></td>
                        <td>
                            {% for youtube in music.youtube %}
                            <button class="youtube-show" data-id="{{ youtube.id }}">{{ youtube.name }}</button>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
        <h3>Games</h3>
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Store</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in about.games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td><a href="{{ game.store.link }}" target="_blank">{{ game.store.name }}</a></td>
                        <td>
                            {% for link in game.links %}
                                {% if link.type == "link" or link.type == "image" %}
                                <a href="{{ link.content }}" target="_blank">{{ link.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
        <h3>Light/Visual Novels - Mangas</h3>
        <p>
            {% for novel in about.novels %}
            <a href="{{ novel.link }}" target="_blank">{{ novel.name }} ({{ novel.type | title }})</a><br/>
            {% endfor %}
        </p>
    </div>
    <div class="globalTab" id="faq" hidden>
        <div class="question">
            <h3>(+) How can I contact you?</h3>
            <span hidden>
                <ul>
                    <li>On Discord: Zirk#0001</li>
                    <li>By mail: contact@zirk.eu</li>
                </ul>
            </span>
        </div>
        <div class="question">
            <h3>(+) What is this website made with?</h3>
            <span hidden>
                Made with an amazing PHP library called <a href="https://twig.symfony.com/" target="_blank">Twig</a><br/>
                I'm <a href="img/website/v1.png" target="_blank">redoing</a> <a href="img/website/v2.png" target="_blank">it</a> <a href="img/website/v3.png" target="_blank">approximately</a> <a href="img/website/v4.png" target="_blank">once</a> <a href="img/website/v5.png" target="_blank">per</a> <a href="img/website/v6.png" target="_blank">year</a>, this one isn't done yet so you can say it's V7-beta<br/>
                The source code is available on <a target="_blank" href="https://github.com/Xwilarg/zirk.eu">GitHub</a>
            </span>
        </div>
        <div class="question">
            <h3>(+) Anything else?</h3>
            <span hidden>
                <img src="img/about/potato.png"/>
            </span>
        </div>
    </div>
{% endblock %}