<div class="project">
    <h2>{{ project.name ?? "&nbsp;" }}</h2>
    <img data-src="{{ project.image }}" class="lazy"></img>
    <br/>
    <p>
        {{ project.description }}
    </p>
    <span>
        {% for link in project.links | filter(x => x.name != "Source Code") %}
            <a class="button" target="_blank" href="{{ link.content }}"><i class="fa-solid fa-globe"></i><span>{{ link.name }}</span></a>
        {% endfor %}
        {% for link in project.links | filter(x => x.name == "Source Code") %}
            <a class="button" target="_blank" href="{{ link.content }}"><i class="fa-brands fa-github"></i><span>{{ link.name }}</span></a>
        {% endfor %}
    </span>
</div>